<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe width="1400" height="900" frameborder="0" scrolling="no" src="https://1drv.ms/x/c/977b229649555b7c/IQPMzKdPf9NBR4zD0UbdCXWPAU1HhANNE2hcmVCdNewP_c8?em=2&wdAllowInteractivity=False&Item='dashboard'!A1%3AW55&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="\search">Research corner</a></li>
                <li><a href="\statistics">Charts</a></li>
                <li><a href="\chatbot">Insight bot</a></li>
                <li><a href="\prediction">Predict sales</a></li>
                <li><a href="\drugs">Drugs</a></li>
            </ul>
        </nav>
        <div class="logo">
            <h1>PHARMA PULSE</h1>
        </div>
    </header>

    <section class="about">
        
        <div class="text-container">
            <h2>About Us</h2>
            <p>
                At Pharmapulse, we specialize in data-driven insights that empower pharmaceutical companies to optimize their sales strategies and understand market trends. Our comprehensive sales data, spanning multiple pharmaceutical categories such as MO1AB, NO2BA, R03, and others, helps industry professionals gain an in-depth understanding of daily and seasonal sales patterns.
            </p>
            <a href="\details" style="scroll-behavior: smooth;" class="btn">View More</a>
        </div>
        <div class="image-container">
            <img src="/static/images\firstpage.jpeg" alt="Medical Research">
        </div>
    </section>

   
<section class ="second">
  <section class ="categories-wrapper">
    <section class="categories">
        <div class="category">
            <a href="\mo1ab">
            <img  src="/static/images\mo1ab.jpeg" alt="MO1AB">
        </a>
            <h3>MO1AB</h3>
        </div>
        
        <div class="category">
            <a href="\no2ba">
            <img src="static\images\no2ba.jpeg" alt="NO2BA">
        </a>
            <h3>NO2BA</h3>
        </div>
        <div class="category">
            <a href="\mo1ae">
            <img src="static\images\mo1ae.jpeg" alt="MO1AE">
            </a>
            <h3>MO1AE</h3>
        </div>
        <div class="category">
            <a href="\no5b">
            <img src="static\images\drugs.jpeg" alt="N05B">
            </a>
            <h3>NO5B</h3>
        </div>
        <div class="category">
            <a href="\no2ba">
            <img src="static\images\drug4.png" alt="NO2BA">
            </a>
            <h3>NO2BE</h3>
        </div>
        <div class="category">
            <a href="\no5c">
            <img src="static\images\drug3.png" alt="no5c">
            </a>
            <h3>NO5C</h3>
        </div>
       
    </section>
</section>
</section>

<section class="third">
    <div class="image-container">
        <img src="static\images\research.jpeg" alt="Research Image">
    </div>
<div class="research-section">
    
    <div class="text-container">
        <h2>Research</h2>
        <p>
            Our research focuses on analyzing daily and seasonal sales trends across key pharmaceutical drug categories like anti-inflammatory (M01AB), analgesics (N02BA), and respiratory treatments (R03). By leveraging this data, we develop predictive models to forecast drug demand and optimize supply chains, ensuring better drug availability and resource allocation.
        </p>
        <a href="#" class="visit-button">Visit Us</a>
    </div>
</div>
</section>

<section class="fourth">
    <div class="image-container">
        <img src="static\images\drug.png" alt="Research Image">
    </div>
    <div class="drug-alert">
        <div class="text-container">
        <h2>Drug Alert</h2>
        <p>
            Stay informed about significant fluctuations in pharmaceutical sales trends, including potential shortages or surges 
            in demand for critical drugs such as anti-inflammatories (MO1AB) and analgesics (NO2BA). Timely updates ensure you can 
            respond swiftly to market changes and maintain optimal drug supply.
        </p>
        <a href="#" class="visit-button">Visit Us</a>
    </div>
    </div>

</section>

    <footer>
        <p>© 2024 Pharma pulse. All Rights Reserved.</p>
    </footer>
</body>
</html> -->